@import '~antd/dist/antd.css';

.write__container {
    margin : 60px;
    width : 60%;
}
.tags__tag {
    width : 100%;
}

.title__container {
    display: inline;
}

.title__Input {
    width : 77%;
}

.container__Button {
    text-align: right;
}

.ant-btn-dashed {
    margin: 20px;
}

.ql-editor{
    min-height: 250px;
}

#editor {
    height: 60%;
}

